#work-with-me nav {
  top: 0;
}

nav {
  position: absolute;
  z-index: 60;
  margin-top: 0;
  z-index: 100;
  padding: 15px;
  background-color: white;
  right: 0;
}

nav .mobilemenu {
  display: none;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
  letter-spacing: 3px;
  padding: 5px 10px;
}

@media screen and (max-width: 800px) {
  nav ul li {
    background-color: #000000 !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 1000px) {
  nav ul li {
    background-color: #ffffff;
    margin: 10px;
  }
}

nav ul li:nth-child(even):hover {
  border-bottom: 0px;
  cursor: default;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  word-break: normal;
}

@media screen and (max-width: 800px) {
  nav {
    position: absolute;
    margin: 0;
    padding: 0 !important;
    right: 0;
    height: 75px !important;
    width: 75px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    color: white;
    border-radius: 0 0 0 50px;
    z-index: 200;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  nav:hover {
    cursor: pointer;
  }
  nav .mobilemenu {
    display: block;
    width: 5vw;
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
    z-index: 200;
  }
  nav .mobilemenu.open {
    border-top: 0px solid #ffffff;
  }
  nav .mobilemenu.closed {
    border-top: 2px solid #ffffff;
  }
  nav .mobilemenu.closed::before {
    border-top: 2px solid #ffffff;
    content: "";
    display: block;
    margin-top: 4px;
    -webkit-transition: .1s;
    transition: .1s;
  }
  nav .mobilemenu.closed::after {
    border-top: 2px solid #ffffff;
    content: "";
    display: block;
    margin-top: 4px;
    -webkit-transition: .1s;
    transition: .1s;
  }
  nav .mobilemenu.open::before {
    border-top: 2px solid #ffffff;
    content: "";
    display: block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .1s;
    transition: .1s;
  }
  nav .mobilemenu.open::after {
    border-top: 2px solid #ffffff;
    content: "";
    display: block;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: .1s;
    transition: .1s;
  }
  nav ul {
    -webkit-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70vw;
    border-radius: 0 0 0 50px;
    background-color: #000000;
    z-index: 100;
  }
}

@media screen and (max-width: 800px) and (max-width: 800px) {
  nav ul {
    padding: 20px 0;
  }
}

@media screen and (max-width: 800px) {
  nav ul li {
    color: white;
    padding: 2vh 10vw;
    text-align: left;
    height: 70px;
  }
}

@media screen and (max-width: 800px) and (max-width: 800px) {
  nav ul li {
    height: unset;
    padding: 10px 10vw;
  }
}

@media screen and (max-width: 800px) {
  nav ul li a {
    font-size: 15px;
    padding: 5px;
    color: white;
  }
  nav .itemsclosed {
    right: 0;
    top: -100vh;
    position: fixed;
  }
  nav .itemsopen {
    right: 0;
    top: 0;
    position: fixed;
  }
}

.stickynav {
  position: fixed !important;
  z-index: 200;
  top: 0;
}

@media screen and (max-width: 800px) {
  .stickynav {
    bottom: unset;
    top: 0;
  }
}

.sticky {
  position: fixed !important;
  margin-top: 0 !important;
  top: 0;
}

@media screen and (max-width: 800px) {
  .sticky {
    position: unset !important;
  }
}
/*# sourceMappingURL=nav.css.map */